@import 'tailwindcss';

@theme {
  --color-red: #dc3545;
  --color-hotpink: #c5015f;
  --color-funblue: #2144a0;
  --color-yellow: #ff9900;
  --color-gray: #777777;

  --font-poppins: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

/* embla carousel */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  padding-inline: 5px;
}

.embla__slide {
  min-width: 0;
  margin-inline: 5px;
  width: min(899px, 100%);
  flex: 0 0 min(899px, 100%);
}